################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ASP.NET Authentication/.vs/ASP.NET Authentication
/src/ASP.NET Authentication/packages
/src/ASP.NET Authentication/WebApiOauth2/bin
/src/ASP.NET Authentication/WebApiOauth2/obj/Debug
